body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    color: black;
    padding: 17px;
    outline: none;
    font-size: 30px;
    border-radius: 15%;
}


.text{
    width: 160px;
    height: 26px;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 12px;    
}

.text1{
    width: 25px;
}

.main{
    display: inline-block;
}

.num{
    width: 64px;
    height: 67px;
}